@import "./Filters/Filters";
@import "./Navbar/Navbar";
@import "./Goods/Goods";
@import "./vars";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  background: $secondary-color;
  border-radius: 5px;
  color: $catalog-background-color;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
}

button:hover {
  background-color: $catalog-background-color;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}
